ul.tab {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	display: inline-block;
}

ul.menu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 35px;
	margin-top: 10px;
	border-left: 5px solid #fff;
	display: inline-block;
}

ul.menu li a {
	font-size: 1.0em;
}

ul.tab li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tab li a {
	text-decoration: none;
	color: #000;
	display: block;
	font-size: 1.2em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

ul.tab li a:hover {
	background: #ccc;
}

html ul.tab li.active, html ul.tab li.active a:hover {
	background: #00AFFF;
	border-bottom: 1px solid #fff;
}

#container {
	border: 1px solid #999;
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
}

.tab_content {
	padding: 20px;
	font-size: 1.2em;
}

/*list_v - table*/

#view_table {
	margin-top: 20px;
	width: 100%;
	border : 1px solid black;
	border-collapse :collapse;
	text-align :center;
	padding :15px;
}

#view_table th, td{
	padding :15px;
}

#view_table thead th{
	background: #ABC668;
}

#view_table tbody tr:nth-child(even){
	background-color: #eee;
}

#view_table tbody tr:nth-child(odd){
	background-color: #fff;	
}

#view_table tbody tr:hover{
	background:#F3F5BB;
}

#view_table tbody tr:hover > :first-child{
	background: #F2F684;
	color: #1BA6B2;
}

