.none{
	display : none;
}
.inline{
	display : inline;
}

/* tab */
ul.tab {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 32px;
	border-bottom: 1px solid #999;
	border-left: 1px solid #999;
	display: inline-block;
}

ul.menu {
	margin: 0;
	padding: 0;
	float: left;
	list-style: none;
	height: 35px;
	margin-top: 10px;
	border-left: 5px solid #fff;
	display: inline-block;
}

ul.menu li a {
	font-size: 1.0em;
}

ul.tab li {
	float: left;
	margin: 0;
	padding: 0;
	height: 31px;
	line-height: 31px;
	border: 1px solid #999;
	border-left: none;
	margin-bottom: -1px;
	overflow: hidden;
	position: relative;
	background: #e0e0e0;
}

ul.tab li a {
	text-decoration: none;
	color: #fff;
	display: block;
	font-size: 1.4em;
	padding: 0 20px;
	border: 1px solid #fff;
	outline: none;
}

ul.tab li a:hover {
	background: #ccc;
	color: #000000;
}

html ul.tab li.active, html ul.tab li.active a:hover {
	background: #00AFFF;
	border-bottom: 1px solid #fff;
}

html ul.tab li.active a {
	color: #000000;
}

#container {
	border-top: none;
	overflow: hidden;
	clear: both;
	float: left;
	width: 100%;
	background: #fff;
	display: inline;
}

.tab_content {
	font-size: 1.2em;
	/*
	border: 1px solid #000; 
	border-top-style: none;
	*/
}

/*list_v - table*/
#view_table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	text-align: center;
	padding: 15px;
}

#view_table th, td {
	padding: 15px;
}

#view_table thead th {
	background: #ABC668;
}

#view_table tbody tr:nth-child(even) {
	background-color: #eee;
}

#view_table tbody tr:nth-child(odd) {
	background-color: #fff;
}

#view_table tbody tr:hover {
	background: #F3F5BB;
}

#view_table tbody tr:hover>:first-child {
	background: #F2F684;
	color: #1BA6B2;
}
/*header- div_sub_tab */
#div_sub_tab{
}

#div_sub_tab ul{
	top: 2px;
	list-style:none;
}

#div_sub_tab ul li>:first-child {
}

#div_sub_tab ul li a{
	border: 1px solid #000000;
	font-size: 1.1em;
	padding: 5px;
	background-color: #FFDC46;
}

/*header - div_login*/
#div_login{
	list-style:none;
}

#show_login{
	list-style:none;
	display:inline;
}
.tab_login{
	margin-top: 10px;
}
.tab_login>:first-child{
	list-style:none;
	display:inline;
}

#input_password, #input_id, #btn_login{
	height: 20px;
}
